body{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 10% 90%;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  /* .pipeline{
    width: 100%;
    height: 500px;
    border: 2px black solid;
    border-radius: 10px;
    background: url(../assets/pipeline.svg);
    background-size: cover;
  } */